In [1]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

[]

In [2]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

In [11]:
lst=['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
string1= (lst[0]+' & '+lst[1])
string1

'Pythons syntax is easy to learn & Pythons syntax is very clear'

In [13]:
input_str = 'Kumar_Ravi_003'
first_name = input_str.split('_')[1]
second_name = input_str.split('_')[0]
customer_code = input_str.split('_')[2]
print(first_name)
print(second_name)
print(customer_code)

Ravi
Kumar
003

In [14]:
t = ("disco", 12, 4.5)
t[0][2]

's'

In [20]:
x = (Hello,'2','3')
print(type(x))

NameError: name 'Hello' is not defined

# Sample Input:

('Monty Python', 'British', 1969)



Sample Output:

﻿('Monty Python', 'British', 1969, 'Python')

In [33]:
input_tuple=('Monty Python', 'British', 1969)

tuple_2= tuple(list(input_tuple)+['Python'])
tuple_2

('Monty Python', 'British', 1969, 'Python')

##### Imagine you have two sets: 

A = {0,2,4,6,8}

B = {1,2,3,4,5}

Set methods

Union represents the total unique elements in both sets.

A.union(B) → {0, 1, 2, 3, 4, 5, 6, 8}

Intersection represents the elements common to both sets.

A.intersection(B) → {2, 4}

Difference(A-B) represents the elements present in A and not in B.

A.difference(B) → {0, 6, 8}

Symmetric difference represents the union of the elements A and B minus the intersection of A and B.

A^B → {0, 6, 8, 1, 3, 5}

In [39]:
list_1 = [5, 1, 3, 4, 4, 5, 6, 7]

list_2 = [3, 3, 5, 5, 1 ,7 ,2]
# [1,3,5,7]
answer=set(list_1) & set(list_2)
print(list(answer))

[1, 3, 5, 7]

In [40]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

In [1]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}
profession = Employee_data[104][2]
profession

'Product Lead'

In [13]:
d = {'Python':40, 'R':45}
print(list(d.keys()))

['Python', 'R']

In [15]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }
input_dict.get('Label', 'NA')

'NA'

In [17]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}
b= sorted(input_dict.values())
print(b)

['Amazon', 'Apple', 'RJIO', 'Twitter']

In [18]:
s = 'a$b@c@d'
print(s.split('@','$'))

TypeError: 'str' object cannot be interpreted as an integer

In [20]:
list_1 = ['red' , 'orange', 'blue', 'green', 'black', 'white']
print(list_1.sort())
list_1

None

['black', 'blue', 'green', 'orange', 'red', 'white']

In [21]:
num_1=[9,4,2,7]
num_2=[8,3,6,1]
print(sorted(num_1))
print(num_1)
print(num_2.sort())
print(num_2)

[2, 4, 7, 9]
[9, 4, 2, 7]
None
[1, 3, 6, 8]

In [22]:
l = ['paris','india','china','london']
print(tuple(l+['sri lanka']))

('paris', 'india', 'china', 'london', 'sri lanka')

In [23]:
var=(5)
print(type(var))

<class 'int'>

In [24]:
tup=([1,3,5],"abcd",(2,4),6)
tup[0][2]=7
print(tup)

([1, 3, 7], 'abcd', (2, 4), 6)

In [25]:
a= {1,2,4,5}
b= {5,6,7,8}
print(a-b)

{1, 2, 4}

In [26]:
s= {3,4,5}
s*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [27]:
numbers= {1,0,6,1,4,0,7}
print(len(numbers))

5

In [28]:
dict= {'ab':12,'cd':34,'ef':56}
print(dict[1])

KeyError: 1

In [29]:
marks= {'John':45,'Alex':60}
print(marks.keys())

dict_keys(['John', 'Alex'])

In [30]:
d = {"Python":40, "R":45}
"Python" in d

True

In [31]:
input_dict= {1:"one",2:"two",3:"three"}
for i in input_dict:
  print(i)

1
2
3

In [32]:
input_str="I love programming in python"
count=0
l=['a','e','i','o','u']
for i in input_str.lower():
  if i in l:
  	count=count+1
print(count)

8

# Description
Suppose you want to know the total score of the Indian cricket team in a given match. To do so, your task is to find the sum of all the scores of the Indian team players. The scores are provided as a list, with each element as an individual score of the players. Also, there is a condition that if the number of elements in the list is more than 11, then it is an invalid input and the output should be -1.

In [14]:
inp= [100, 80, 30, 10, 0, 1, 2, 0]
if len(inp)<11:
    lst= sum(inp)
    print(lst)
else:
    print('-1')

223

##### Length of list elements
Description
Given a list of strings, write a program to find the number of strings whose length is greater than or equal to K, where K is a positive integer.

Input - List of strings and an integer

﻿Output - Integer

Sample Input :

[Mumbai, Hyderabad, Calicut, Chennai]

  9

Sample Output: 1

In [17]:
lst =['Mumbai', 'Hyderabad', 'Calicut', 'Chennai']
k=9
count=0
for word in lst:
    if len(word)>=k:
        count += 1
print(count)

1

In [16]:
lst=['Python', '123', '234','Data']
k=15
lst2 =[]
for i in lst:
    if i.isdigit():
        i = str(int(i)+int(k))
        lst2.append(i)
    else:
        lst2.append(i)
print(lst2)

['Python', '138', '249', 'Data']

#### Description
Given a list of strings and an integer K, write a python code to print all the elements from the K th position till the end of the list.



Note: Assume that K (a positive integer) will always be less than or equal to the length of the list


Input - A list of strings in the first line and an integer in the second line of the input.

Output - A list

In [20]:
lst=['Mumbai', 'Delhi', 'Australia', 'Nigeria', 'USA', 'London', 'Canada']
k=2
for i in range(len(lst)+1):
    lst2=lst[k-1:i]
print(lst2)

['Delhi', 'Australia', 'Nigeria', 'USA', 'London', 'Canada']

In [47]:
lst='MuMbaI is in MAHArashTRA'

count = 0
lst2=[]
for i in lst:
    if i.isupper():
        count+=1
        lst2.append(count)

    else:
        count = 0
        
print(max(lst2))

4

##### Sorting list of tuples
Description
A class of students attempt an exam in two parts: ‘Aptitude’ and ‘Physics'. The marks of all the students are stored as a list of tuples, and each student’s marks (in Aptitude and Physics) are stored in each tuple. Your task is to write a Python program to sort the list of tuples in decreasing order of the Physics scores of the students.



Note - Marks of both the subjects are ranged between 1-100, and no two students have scored the same marks in Physics.

In [4]:
# Sample Input - [(45,23), (45,88), (45,98), (45,44)]
# Sample Output - [ (45,98), (45,88), (45,44),(45,23)]
lst=[(45,77), (88,87), (67,98), (33,31)]
lst2=[]
for i in lst:
    i=list(i)
    lst2.append(i)
print(lst2)
lst2.sort(key=lambda x:x[1],reverse=True)

tup=[]
for i in lst2:
    i = tuple(i)
    tup.append(i)
print(tup)

[[45, 77], [88, 87], [67, 98], [33, 31]]
[(67, 98), (88, 87), (45, 77), (33, 31)]

##### Given an integer ‘n’, your task is to write a Python code to find whether ‘n’ is divisible by all its digits or not. If they divide the number, then the number ‘n’ is a happy number. Otherwise, it is a sad number.

The number ‘n’ may be provided with commas. At first, you have to clean the number (by removing the commas involved) and then check whether the number is happy or sad.

In [16]:
n= 8845
while n>0:
    if n%(n%10)==0:
        print('Happy Number')
        break
        
    else:
        print('sad')
        break
    n= n//10

Happy Number

In [22]:
x= '8845'
for i in x:
    if int(i)!=0 and int(x)%int(i)==0:
        print('Happy Number')
        break
    else:
        print('Sad Number')
        break

Sad Number

In [ ]:
n = input()
x = n.replace(',','')
flag = True

for i in x:
    if int(i)!=0 and int(x)%int(i)==0:
        flag = True
    else:
        flag = False
        break

if flag:
    print('Happy Number')
else:
    print('Sad Number')

##### {Atletico Madrid : ’D’ , ‘Juventus’: ‘B’, ‘Chelsea’: ‘C’ }

[[‘Juventus’, ‘G’], [‘Chelsea’, ‘H’]]



Sample Output: {Atletico Madrid : ’D’, ‘Juventus’: ‘G’, ‘Chelsea’: ‘H’ }

In [40]:
dict1= {'Atletico Madrid' : 'D ', 'Juventus': 'B', 'Chelsea': 'C' }
list1=[['Juventus', 'G'], ['Chelsea', 'H']]
for i in dict1.keys():
    for j in list1:
        if i == j[0]:
            dict1[i] = j[1]
print(dict1)

{'Atletico Madrid': 'D ', 'Juventus': 'G', 'Chelsea': 'H'}

In [42]:
#Take input here
#we will take input using ast sys
# import ast
# #reading the input dictionary
# input_dictionary = input()
# convert_dictionary = ast.literal_eval(input_dictionary)

# #reading the input list
# input_list = input()
# convert_list = ast.literal_eval(input_list)

#Write code here
for i in convert_dictionary.keys():
    for j in convert_list:
        if i == j[0]:
            convert_dictionary[i] = j[1]
print(convert_dictionary)

NameError: name 'convert_dictionary' is not defined

##### Description
Suppose you are working as a Marketing Lead in a company and you want to recruit new employees in your team (which already consists of 10 members) to carry out the company’s major project. You select the employees based on five parameters: A, B, C, D and E. The value of each parameter is represented on a scale of 1 to 10. The present average value of these parameters for your team is given to you in a list (in the same order). You recruit a person only if their scores do not reduce the average score of more than two parameters of your team. If they are recruited, print the output as ‘Selected’. If not, print the output as ‘Rejected’.



--------------------------------------------------------------------------------------------------



Input - Two lists, where the first list is the average scores of the team in the five parameters, and the second list is the scores of the new employee in all the five parameters. The parameter order is the same for both the lists, which is A, B, C, D and E.



Output - String

In [ ]:
#Take input from here
# import ast

# team = ast.literal_eval(input())
# employee= ast.literal_eval(input())
# #Write the code here
count = 0

for i,j in zip(team,employee):
    if float(i)<float(j):
        count+=1

if count>=2:
    print('Selected')
else:
    print('Rejected')

# Merging two dictionary

In [44]:
# Solution_1: update() method
import ast

dict1 = ast.literal_eval(input())
dict2 = ast.literal_eval(input())

dict1.update(dict2)
print(dict1)a

SyntaxError: invalid syntax (Temp/ipykernel_5392/3225541202.py, line 8)

In [ ]:
import ast

# dict1 = ast.literal_eval(input())
# dict2 = ast.literal_eval(input())

def merge_dict(d1,d2):
    return d1.update(d2)

merge_dict(dict1,dict2)
print(dict1)